*{
  font-family: sans-serif;
  background-color: #E6F2FF;
}
#container{
  min-width:1080px;
  margin:10px;
  display: flex;
  flex-direction: row;
}
#menu{
  line-height: 1.5em;
}
#sweater{
  width:780px;
  padding-top:50px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.color-pick{
  border:2px solid black;
  width:100px;
}
.download-btn{
  padding:10px;
  border:2px solid black;
}
#download-wallpaper {
  display: none;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  background-color: orange;
  display: inline-block;
  padding: 7px;
  border:2px solid black;

}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #FFB831;
}

a{
  text-decoration: none;
}

#color-menu {
  display: flex;
  flex-direction: row;
}

.color-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.color-item {
  padding:5px;
  width:100%;
  text-align: center;
  border-bottom:1px solid #000;
}
.slider-menu{
  padding:10px 0px;
}
.slider-menu input{
  margin: 0px 5%;
  display:block;
  width:90%;
}
.slider-guide {
  font-size:0.8em;
  line-height: 0.8em;
  display: flex;
  justify-content: space-between;
  felx-drection: row;
  color:gray;
}
#color-num-menu {
  padding-top:10px;
  display: none;
  flex-drection: row;
}
#repeat-menu {
  padding-top:10px;
  display: none;
  flex-drection: row;
}
#invert-menu {
  display: flex;
  flex-drection: row;
  align-items:center;
}
#invert {
  margin-left:10px;
}
#colorsize {
  margin-left:10px;
}
#repeatsize {
  margin-left: 10px;
}
#canvas-guide-title {
  visibility: hidden;
}
#canvas-guide {
  cursor: default;
}
.tabs {
  margin-bottom:10px;
  display: flex;
  flex-drection:row;
}
.tab label {
  background: white;
  border: 1px solid #4FA099;
  padding: 10px;
  margin-right: 5px;
}
.tab [type=radio] {
  display: none;
}
[type=radio]:checked ~ label {
  background: #4FA099;
  border: 1px solid #4FA099;
  z-index: 2;
}
