*{
  font-family: sans-serif;
}
body {
  background-color: #f2f8ff;
}
h1 {
  font-size: 2.2em;
  padding-left: 10px;
  text-shadow: 1px 2px 0px white;
}
h2 {
  font-size:1em;
  font-weight: normal;
  margin-left: 20px;
}
header {
  display: flex;
  flex-direction:row;
  align-items: baseline;
}
#container{
  min-width:1080px;
  margin:10px;
  display: flex;
  flex-direction: row;
}
#menu{
  line-height: 1.5em;
}
#sweater{
  width:780px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.color-pick{
  border:2px solid black;
  width:100px;
}
button {
  font-size: 1em;
  padding:6px;
  color: white;
  background-color: lightgray;
  box-shadow: 1px 1px #555;
  border: none;
  margin: 5px 0px;
  // width:250px;
}
#color-reset {
  font-size: 0.8em;
  padding:3px;
  width:100px;
  background-color:#777;
}
#download-wallpaper {
  display: none;
}
#file {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#file + label {
  width:244px;
  font-size: 1em;
  padding:5px;
  color: #f3f3f3;
  background-color: #777;
  display: inline-block;
  box-shadow: 1px 1px #555;
  text-align: center;
}
#file:focus + label,
#file + label:hover {
  opacity: 0.8;
}
#file:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

a{
  color: #55ACEE;
}
#color-menu {
  display: flex;
  flex-direction: row;
}
.color-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.color-item {
  padding:5px;
  width:100%;
  text-align: center;
  border-bottom:1px solid #000;
}
.slider-menu{
  padding:10px 0px;
}
.slider-menu input{
  margin: 0px 5%;
  display:block;
  width:90%;
}
.slider-guide {
  font-size:0.8em;
  line-height: 0.8em;
  display: flex;
  justify-content: space-between;
  felx-drection: row;
  color:gray;
}
#color-num-menu {
  padding-top:10px;
  display: none;
  flex-drection: row;
}
#repeat-menu {
  padding-top:10px;
  display: none;
  flex-drection: row;
}
select {
  font-size: 0.8em;
  background-color: white;
}
[type=checkbox] {
  font-size: 1em;
}
#invert-menu {
  padding-top:10px;
  display: flex;
  flex-drection: row;
  align-items:center;
}
#invert {
  margin-left:10px;
}
#colorsize {
  margin-left:10px;
}
#repeatsize {
  margin-left: 10px;
}
#canvas-guide-title {
  margin-top:10px;
  visibility: hidden;
}
#canvas-guide {
  cursor: default;
}
.tabs {
  margin:10px 0px;
  display: flex;
  flex-drection:row;
}
.tab label {
  background: white;
  border: 1px dashed #C60204;
  padding: 10px;
  margin-right: 5px;
}
.tab [type=radio] {
  display: none;
}
[type=radio]:checked ~ label {
  background: #C60204;
  border: 1px solid #C60204;
  color:#f3f3f3;
  z-index: 2;
}
.red {
  color:#C60204;
}